.trainingField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trainingField img {
  width: 80vh;
}

.trainingField .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.statbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

}

.statrow {
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}