#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
}

a, Link {
  text-decoration: none;
  color: #111;
}

a:hover, Link:hover {
  text-decoration: #111 underline;
  text-underline-offset: 4px;
}