.gameLink {
  color: green;
}

.gameLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 50%;
  table-layout: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

thead {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
